* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  color: #f2f2f2;
  min-height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header.scrolled {
  background-color: #1c398e;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.logo img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.logo h2 {
  font-weight: normal;
  font-size: 0.9rem;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 8px;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #758ebf;
  height: 2px;
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a.active {
  border-bottom: 2px solid #758ebf;
}
/* Sidebar for mobile view */
.hamburger {
  font-size: 1.7rem;
  display: none;
  cursor: pointer;
}
/* Sidebar for mobile view */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #1c398e;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 2000; /* higher than header */
}
.sidebar.active {
  right: 0;
}
.close-btn {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  user-select: none;
}
.hero-headline {
  background-image: url("https://kongres-magazine.eu/wp-content/uploads/2023/10/gds_awards-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-headline h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
/* Partnership Section */
.partnership-section {
  background: #fff;
  padding: 40px;
}
.partnership-headline {
  text-align: center;
  max-width: 750px;
  margin: 25px auto 0;
}
.partnership-headline h1 {
  color: #1c398e;
  font-size: 2.3rem;
  font-weight: normal;
  padding-bottom: 12px;
}
.partnership-headline hr {
  width: 10%;
  background: #165ff2;
  height: 3px;
  margin: 0 auto;
}
.partnership-headline p {
  font-size: 1.2rem;
  padding: 40px 0;
  color: #4a556a;
  line-height: 1.5;
}
.main-partnership {
  border-radius: 12px;
  outline: 1px solid #ccc;
  padding: 25px;
  border-radius: 12px;
  padding: 40px;
  margin: 0 auto;
}
.main-partnership:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.organization-headline {
  text-align: center;
  margin-bottom: 40px;
}
.organization-headline h3 {
  font-weight: normal;
  font-size: 1.5rem;
  color: #1c398e;
}
.organization {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.organization-context,
.organization-img {
  flex: 1;
}
.organization-headline i {
  background: #dbeafe;
  color: #155dfc;
  border-radius: 50%;
  padding: 18px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.organization-context h3 {
  font-size: 1.3;
  font-weight: normal;
  color: #1c399d;
  margin-bottom: 25px;
}
.organization-context p {
  line-height: 1.7;
  font-size: 1rem;
  color: #4a556a;
}
.organization-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.organization-img p {
  font-size: 0.85rem;
  color: #4a556a;
  text-align: center;
  margin-top: 10px;
}
/*Partnership Activities */
.activities {
  background: #eff6ff;
  border-radius: 12px;
  padding: 20px;
  margin-top: 25px;
}
.activities h3 {
  font-weight: normal;
  font-size: 1rem;
  color: #1c399d;
  margin-bottom: 10px;
}
.partnership-activity {
  margin-left: 20px;
  line-height: 1.7;
  color: #4a556a;
}
/* Supporters & Collaborators */
.collaboration-section {
  margin: 70px 0;
}
.collaboration-section h2 {
  text-align: center;
  font-weight: normal;
  color: #1c398e;
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.marquee {
  width: 100%;
  overflow: hidden;
}
.marquee-content {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}
.marquee-content img {
  height: 200px;
  margin-right: 20px;
  border-radius: 10px;
}
/* Animation */
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.join-network {
  background: #1449e8;
  padding: 40px;
  border-radius: 12px;
  color: #fff;
  margin-bottom: 25px;
}
.network-headline {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 20px;
}
.network-headline h2 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.network-headline p {
  line-height: 1.5;
  font-size: 1.1rem;
}
.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.network {
  background: #fff;
  color: #193cb8;
  padding: 12px 20px;
  border-radius: 12px;
}
/* Footer Section */
.footer-section {
  background: #1c398e;
  color: #fff;
}
.footer-contents {
  padding: 50px 40px 20px;
}
.footer-section hr {
  margin: 30px 0;
  border: 1px solid #315295;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.footer-context {
  width: 100%;
  max-width: 600px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.footer-logo h2 {
  font-weight: normal;
  font-size: 1.1rem;
}
.footer-context p {
  line-height: 1.5;
  color: #f2f2f2;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.footer-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1449e8;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
}
.footer-links,
.footer-contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-links h2,
.footer-contactInfo h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1.3;
  cursor: pointer;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #155dfc;
}
.footer-contactInfo p {
  font-size: 0.9rem;
}
.footer-contactInfo i {
  margin-right: 15px;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.footer-text {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  background: #162d70;
  padding: 16px;
}

/* Responsive Design */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .collaboration-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet / medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-links.desktop-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hero-headline h1 {
    font-size: 2.4rem;
    padding: 10px 16px;
  }
  .partnership-context,
  .organization {
    flex-direction: column;
  }
  .collaboration-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-content,
  .footer-copyright {
    flex-direction: column;
    gap: 25px;
  }
  .footer-icons {
    justify-content: flex-start;
  }
}

/* Mobile */
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  .nav-links.desktop-links {
    display: none;
  } /* hide desktop nav */
  .hamburger {
    display: block;
  } /* show hamburger */
  .hero-headline {
    min-height: 72vh;
    padding-bottom: 20px;
  }
  .hero-headline h1 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    padding: 8px 12px;
  }
  .partnership-context,
  .organization {
    flex-direction: column;
  }
  .collaboration-content{
    grid-template-columns: 1fr;
  }
  .networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: stretch;
  }
   .footer-content {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }
  .footer-copyright {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}

/* Small phones */
@media (max-width: 420px) {
  .hero-headline h1 {
    font-size: 1.25rem;
    padding: 8px 10px;
  }
  .logo h2 {
    font-size: 0.85rem;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
}